
body {
    padding-top: 50px;
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
    margin-bottom: 0;
}
.music-footer {
	position: relative;
    border-top: 1px solid #ddd;
    height: 193px;
    bottom:-193px;
    margin-top: -193px;
    margin-left: -70px;
    margin-right: -70px;
    margin-bottom: 0;
    background-color: black;
    background-image: url(../images/MusicFooterSm.png);
    clear: both;
}
.this-logo {
    text-align: center;
    margin-bottom: 1em;
}
.session-logo {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}
.this-titlebar {
    width=100%;
    background-color: #446051;
    color: goldenrod;
    font-size:115%;
    font-weight: bold;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .05em;
    border-radius: 3px;
}

.glyphicon {
	color: #3F2B22;
}
.active .glyphicon {
	color: #cdae51;
}

.pull-right.img-responsive {
	margin: 0 0 1em 1em;
	}
	
.btn-info {
	background-color: #cdae51;
	border-color: #3f2b22;
	color: #fff;	
	}
	
.navbar-inverse .navbar-toggle {
	color: white;
	font-weight: bold;
	border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #ddd;
	color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
	color: white;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
	color: #333;
}

.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
	border-bottom: 1px solid #ddd;
	padding: 0.8em;
}
