extends layout

block content
  h1= title
  p Welcome to #{sessionname}
  .row
    // LEFT COLUMN
    .col-lg-3.col-md-3.col-sm-3
      h3 Session Information
      div
        h5= sessionname
        #sessionName
          br
          br
        h5 Participants
        #sessionParticipants
          br
        h4 Instrument
        #sessinstrument= sessinstrument
      br
      // CENTER COLUMN
    .col-lg-6.col-md-6.col-sm-6
      .session-logo
        .this-session-logo
          img(src='images/MusicBirdLrgLightGold.png', alt='Musicador Logo', width='200')
      // Placeholder for user instructions      
      // RIGHT COLUMN
    .col-lg-3.col-md-3.col-sm-3
      // Session Controls: Leave Session, End Session
      div(style='text-align: right;')
        h3 Session Controls
        form(action='')
          input#leaveSession.btn.btn-info(type='button', value='Leave Session')
          input#endSession.btn.btn-info(type='button', value='End Session')
    // ROW 3 TEMPORARY DISPLAY FOR KEYBOARD
  .row
    div(style='text-align: center;')
      // img(src='images/MusicKeyboard.png', alt='Keyboard')
      include ../public/piano.html
      br
      br
      br
      br