extends layout

block content
  h1= title
  p Welcome to #{title}
<<<<<<< HEAD
  p Testing github heroku deploy
=======
  p Lets make music
  p Testing git deploys
>>>>>>> 9025598bb5b799a3437e5a04cc6f0975c2414f41
